// --------------------------
// VARIABLES
// --------------------------
$maincolor: black;
$contrastcolor: white;


@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// --------------------------
// Header
// --------------------------

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;

  a {
    @include white-text-black-bg;

    div {
      margin: 10px;
      font-size: large;
    }
  }
}

.faction {
    color:black;
    text-align: center;
    h2 {
        color:white;
        background-color:black;
    }
    h1 {
        color:black;
        background-color:lightgrey;
    }
}


.main{
  background-color: lightgrey;
    h1{
        background-color: black;
        color:white;
    }
    .factions{
      background-color: black;
      text-decoration: none;
      color:white;
      display: flex;
    }

}

.submit{
  input{
    width: 500px;
    text-align: center;
    // margin-left: 40%;
  }
}
